# SQL CRUD 

In this activity, you will apply `SQL` CRUD operations to a database of account payments. You will need to SELECT and filter data using SQL then INSERT, UPDATE, and DELETE records from the tables.

## Instructions

Complete the following steps:

1. Import the SQLAlchemy module.

2. Create a database connection string that imports the `bank_payments.db` from the Resources folder.

3. Create a [database engine object](https://docs.sqlalchemy.org/en/14/core/engines.html) that utilizes the database connection string.

4. Get a list of the tables included in the in the database.

5. Run a query that `SELECT`s all of the data from the `banks` table.

6. Using a SQL `SELECT` statement, find the bank routing number of the bank where the bank name equals 'TD Bank'. List the bank routing number to confirm.

7. Insert a new bank into the `banks` table. Once the query has been executed, confirm that the bank has been added to the list.
   * Use a '10' for the `bank_id`.
   * The bank name will be 'Royal Bank of Canada'.
   * The bank routing number will be '000300002'.
   
   
8. `WHERE` the bank id equals 10, `UPDATE` the bank name to 'RBC'. Confirm that the bank name has been updated.

9. `DELETE` the bank where the bank id equals to 3 from `banks` table. Confirm that the bank has been deleted.

## 1. Import the SQLAlchemy module.

In [ ]:
# Import modules
# YOUR CODE HERE!

## 2. Create a database connection string that imports the `bank_payments.db` from the Resources folder.

In [ ]:
# Database connection string
database_connection_string = # YOUR CODE HERE!

## 3. Create a [database engine object](https://docs.sqlalchemy.org/en/14/core/engines.html) that utilizes the database connection string.

In [ ]:
# Database engine
engine = # YOUR CODE HERE!

## 4. Get a list of the tables included in the in the database.

In [ ]:
# Get table names from the database
# YOUR CODE HERE!

## 5. Run a query that `SELECT`s all of the data from the `banks` table.

In [ ]:
# Select all of the data from the banks table
sql_select = # YOUR CODE HERE!

# Execute the sql statement
results = # YOUR CODE HERE!

# List the query results
# YOUR CODE HERE!

## 6. Using a SQL `SELECT` statement, find the bank routing number where the bank name equals 'TD Bank'.

In [ ]:
# Select TD Bank's routing number
sql_select = """
YOUR CODE HERE!
"""

In [ ]:
# Execute the sql statement
td_routing = # YOUR CODE HERE!

In [ ]:
# List the TD routing number
# YOUR CODE HERE!

## 7. Insert a new bank into the `banks` table. Once the query has been executed, confirm that the bank has been added to the list.

   * Use a '10' for the `bank_id`.
   * The bank name will be 'Royal Bank of Canada'.
   * The bank routing number will be '345826917'.

In [ ]:
# Insert a new bank, Royal Bank of Canada with a bank id of 10 and a routing number of 345826917
sql_insert = """
YOUR CODE HERE!
"""

In [ ]:
# Execute the sql statement
# YOUR CODE HERE!

In [ ]:
# List the banks to confirm the new bank was added
# YOUR CODE HERE!

## 8. `WHERE` the bank id equals 10, `UPDATE` the bank name to 'RBC'. Confirm that the bank name has been updated.

In [ ]:
# For the bank with and id of 10, update the bank name to 'RBC'
sql_update = """
YOUR CODE HERE!
"""

In [ ]:
# Execute the sql statement
# YOUR CODE HERE!

In [ ]:
# List the banks to confirm that the bank was updated
# YOUR CODE HERE!

## 9. `DELETE` the bank where the bank id equals to 3 from `banks` table. Confirm that the bank has been deleted.

In [ ]:
# Delete bank_id = 3 from the banks table
sql_delete = """
YOUR CODE HERE!
"""

In [ ]:
# Execute the sql statement
# YOUR CODE HERE!

In [ ]:
# List the banks to confirm the bank was deleted
# YOUR CODE HERE!