# A Friends DataFrame

### Instructions

#### Part 1: Initial Setup

1. Ask each classmate in the breakout room the following:
    * Their name.
    * Their location.
    * How many years of software experience they have.
    * One technology they have experience with.

2. Import the required libraries and dependencies into your Jupyter Notebook.

#### Part 2: `Series` to `DataFrame`

1. Create three dictionaries for the data collected.

    * The keys for each dictionary are the names.
    * The values for the first dictionary are the locations.
    * The values for the second dictionary are the years of experience.
    * The values for the third dictionary are the technology used.

2. Convert each dictionary into a Pandas `Series`, storing each in its own variable.

3. Create a Pandas `DataFrame` using the three `Series` as data.

4. Transpose the resulting `DataFrame`.

#### Part 3: `Dictionary` to `DataFrame`

1. Create a single `dictionary` where the keys are your classmates' names and the other values are stored in a list.

  For example:

  ```python
  my_classmates = {
    "Anna": ["London",1,"Java"],
    "Mohammad" : ["Chicago",0,"Microsoft Office"],
  }
  ```

2. Create a Pandas DataFrame, using the my_classmates dictionary as the data. **Hint:** Use the `index` parameter and label the column names with ["City", "Software Experience", "Technologies Used"].

3. Transpose the DataFrame.

#### Part 4: Manipulate the `DataFrame`

1. View the data in the `DataFrame`'s City column.

2. Using the `mean` method, calculate the average years of software experience of the group.

3. For one of your classmates, increase their years of software experience by 1 year.

Be prepared to share some of your solutions with the class when you return from the breakout room.

# Part 1: Initial Setup

## Ask each classmate in the breakout room the following:

* Their name.
* Their location. 
* How many years of software experience they have.
* One technology they have experience with. 

## Import the required libraries and dependencies.

In [ ]:
# Import the Pandas library
# YOUR CODE HERE

# Part 2: `Series` to `DataFrame`

## Create three dictionaries for the data collected from your classmates.

* The keys for each dictionary are the names.
* The values for the first dictionary are the locations.
* The values for the second dictionary are the years of experience.
* The values for the third dictionary are the technology used.

In [ ]:
# Create three dictionaries with classmates' names as keys, location, years and tech as values.
# YOUR CODE HERE


# YOUR CODE HERE


# YOUR CODE HERE

## Convert each dictionary into a Pandas Series, storing each in its own variable.

In [ ]:
# Create a series from each dictionary
# YOUR CODE HERE
# YOUR CODE HERE
# YOUR CODE HERE

# Preview one of the Series
# YOUR CODE HERE

## Create a Pandas `DataFrame` using the three `Series` as data

In [ ]:
# Create DataFrame from the three Series
# Hint: Pass them as a list to the data parameter
# YOUR CODE HERE

# View the resulting DataFrame
# YOUR CODE HERE

## Transpose the resulting `DataFrame`.

In [ ]:
# Transpose DataFrame 
# YOUR CODE HERE

# View the transposed DataFrame
# YOUR CODE HERE

# Part 3: `Dictionary` to `DataFrame`

## Create a single `dictionary` containing the data previously collected from your classmates.

* The keys for the dictionary are your classmates' names.
* The values for the dictionary are the remaining data in list format.
* For example:


```python
my_classmates = {
  "Anna": ["London",1,"Java"],
  "Mohammad" : ["Chicago",0,"Microsoft Office"],
}
```

In [ ]:
# Create Dictionary
# YOUR CODE HERE

## Create a Pandas `DataFrame` using the my_classmates dictionary as the data.

In [ ]:
# Create DataFrame from the my_classmates dictionary
# Hint - Use the `index` parameter and label the 
# column names with ["City", "Software Experience", "Technologies Used"]
# YOUR CODE HERE


# View the resulting DataFrame
# YOUR CODE HERE

## Transpose the `DataFrame`.

In [ ]:
# Transpose DataFrame 
# YOUR CODE HERE

# View the transposed DataFrame
# YOUR CODE HERE

# Part 4: Manipulate the `DataFrame`

## View the data in the `DataFrame`'s 'City' column.

In [ ]:
# View the entries in the DataFrame's "City" column
# YOUR CODE HERE

## Using the `mean()` method, calculate the average years of software experience of the group.

In [ ]:
# Calculate mean value of the group's software experience
# YOUR CODE HERE

## For one of your classmates, increase their years of software experience by 1 year.

In [ ]:
# For one of your classmates, increase their years of software experience by 1 year. 
# YOUR CODE HERE

# Confirm that the change has been made by viewing the DataFrame
# YOUR CODE HERE