# Balanced Random Forest

In [1]:
# Import modules

## Prepare the data

In [2]:
# Read dataset

,id,status,duration,credit_history,purpose,amount,savings,employment_duration,installment_rate,other_debtors,...,property,age,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker,credit_risk
0,1,no checking account,18,all credits at this bank paid back duly,car (used),1049,unknown/no savings account,< 1 yr,< 20,none,...,car or other,21,none,for free,1,skilled employee/official,0 to 2,no,no,good
1,2,no checking account,9,all credits at this bank paid back duly,others,2799,unknown/no savings account,1 <= ... < 4 yrs,25 <= ... < 35,none,...,unknown / no property,36,none,for free,2-3,skilled employee/official,3 or more,no,no,good
2,3,... < 0 DM,12,no credits taken/all credits paid back duly,retraining,841,... < 100 DM,4 <= ... < 7 yrs,25 <= ... < 35,none,...,unknown / no property,23,none,for free,1,unskilled - resident,0 to 2,no,no,good
3,4,no checking account,12,all credits at this bank paid back duly,others,2122,unknown/no savings account,1 <= ... < 4 yrs,20 <= ... < 25,none,...,unknown / no property,39,none,for free,2-3,unskilled - resident,3 or more,no,yes,good
4,5,no checking account,12,all credits at this bank paid back duly,others,2171,unknown/no savings account,1 <= ... < 4 yrs,< 20,none,...,car or other,38,bank,rent,2-3,unskilled - resident,0 to 2,no,yes,good

In [3]:
# Split target column from dataset

In [4]:
# Encode the categorical variables using get_dummies

In [5]:
# Split data

In [6]:
# Count distinct values

good    524
bad     226
Name: credit_risk, dtype: int64

In [7]:
# Scale the data

---

## BalancedRandomForestClassifier

In [8]:
# Import BalancedRandomForestClassifier from imblearn

# Instantiate a BalancedRandomForestClassifier instance

# Fit the model to the training data

BalancedRandomForestClassifier()

In [9]:
# Predict labels for testing features

In [10]:
# Print classification report

              precision    recall  f1-score   support

         bad       0.91      0.82      0.87        74
        good       0.93      0.97      0.95       176

    accuracy                           0.92       250
   macro avg       0.92      0.90      0.91       250
weighted avg       0.92      0.92      0.92       250