# JSON Practice

This short activity will give you the opportunity to practice converting a `json` to a `Pandas` `DataFrame`. You will read a `json` file containing housing data from Alberta Canada and then convert that json object to a `DataFrame`.

>**Hint**: You can create `DataFrame` objects from a list of `Series`.

## 1. Import Modules

In [1]:
# Import modules
from pathlib import Path
import pandas as pd
import json

## 2. Set paths to `json` Files
  - The file contains a json object that was returned from a request to the financial API, Quandl.

In [2]:
saved_response_path = Path("../Resources/alberta_housing_data.json")

## 3. Create an empty dictionary to read the `json` object into

In [3]:
# YOUR CODE HERE!

## 4. Using `json.load` read the `json` object into the `response` dictionary
  - You can use [open](https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files) to create a file handle to pass to `json.load`.

In [4]:
# Read in file
# YOUR CODE HERE!

## 5. Retrieve the column_names
  - Look closely at the structure of `response`. There is a list named `column_names` that contain the names for the data columns held in the json object.
  - Retrieve this list and store it in a variable named `column_names`.

In [5]:
# Get list of column names
# YOUR CODE HERE!

## 6. Create a `DataFrame` from `response`
  - `pandas.DataFrame.from_dict` will not return a `DataFrame` with only the data values and column names.
  - Create an empty list named `list_series`.
  - Create a for loop that iterates over each row in `data`.
  - Append a new `Series` for each row into `list_series`.
  - Create a new `DataFrame` for the list of `Series` after the list is fully populated.

In [6]:
# Empty list for storing the Series
# YOUR CODE HERE!


# Loop over each row in `data`
# YOUR CODE HERE!


# Create a DataFrame from the list of series
# YOUR CODE HERE!

## 7. Set `DataFrame` column names
  - Using the column names found previously, set the dataframe column names using the `column` attribute.

In [7]:
# Assign column names
# YOUR CODE HERE!

,Date,1st 20%,2nd 40%,3rd 60%,4th 80%,Median,Average,Units
0,2020-11-30,395000.0,480000.0,570000.0,730000.0,525000.0,604967.0,2003.0
1,2020-10-31,390000.0,475000.0,565000.0,718000.0,520000.0,599735.0,2111.0
2,2020-09-30,390000.0,470000.0,560000.0,720000.0,510000.0,601300.0,2206.0
3,2020-08-31,385000.0,465000.0,555000.0,735000.0,505000.0,600865.0,2314.0
4,2020-07-31,380000.0,460000.0,555000.0,725000.0,505000.0,596708.0,2506.0
...,...,...,...,...,...,...,...,...
127,2010-03-31,330000.0,390000.0,470000.0,580000.0,430000.0,486648.0,1342.0
128,2010-02-28,325000.0,385000.0,465000.0,578000.0,420000.0,481374.0,1376.0
129,2010-01-31,320000.0,380000.0,453000.0,559000.0,415000.0,474082.0,1405.0
130,2009-12-31,320000.0,380000.0,460000.0,570000.0,415000.0,481583.0,1432.0
131,2009-11-30,325000.0,385000.0,460000.0,573000.0,420000.0,479962.0,1496.0