# Alpaca Demo

In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [2]:
# Load .env environment variables
load_dotenv()

True

In [3]:
# Set Alpaca API key and secret

In [4]:
# Verify that Alpaca key and secret were correctly loaded

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [5]:
# Create the Alpaca API object

In [6]:
# Format current date as ISO format

In [7]:
# Set the tickers

In [8]:
# Set timeframe to one day ('1D') for the Alpaca API

In [9]:
# Get current closing prices for FB and TWTR


# Display sample data

                               FB                                     TWTR  \
                             open    high     low   close    volume   open
time
2020-07-14 00:00:00-04:00  236.76  240.33  232.03  239.73  21476590  33.53


                            high    low close    volume
time
2020-07-14 00:00:00-04:00  34.66  33.44  34.4  14732534

In [10]:
# Format start and end dates as ISO format for one year period

In [11]:
# Set limit_rows to 1000

In [12]:
# Get closing prices for FB and TWTR from the last year


# Display sample data

                               FB                                        \
                             open      high       low   close    volume
time
2019-07-15 00:00:00-04:00  204.25  205.3300  201.8200  203.93  14535697
2019-07-16 00:00:00-04:00  203.89  205.4707  203.1000  203.84  11166309
2019-07-17 00:00:00-04:00  204.18  204.3600  201.5900  201.82  10611530
2019-07-18 00:00:00-04:00  200.15  202.4700  199.3800  200.77  10174234
2019-07-19 00:00:00-04:00  202.18  202.3300  198.0700  198.37  10173742
2019-07-22 00:00:00-04:00  199.87  202.5700  198.8100  202.30  11946690
2019-07-23 00:00:00-04:00  202.84  204.2420  200.9625  202.39  12991045
2019-07-24 00:00:00-04:00  197.63  204.8100  197.2200  204.65  22221694
2019-07-25 00:00:00-04:00  206.70  208.6600  198.2600  200.69  36432956
2019-07-26 00:00:00-04:00  200.19  202.8800  196.2500  199.58  21614871

                            TWTR
                            open    high      low    close    volume
time
2019-07-15 00:00:00-04:00  38.00  38.970  37.9435  38.6900  11258081
2019-07-16 00:00:00-04:00  38.78  38.790  37.8200  38.0100   9311635
2019-07-17 00:00:00-04:00  37.86  38.230  37.5600  37.7087   7147682
2019-07-18 00:00:00-04:00  37.39  37.795  37.0000  37.6800   9449129
2019-07-19 00:00:00-04:00  37.96  38.090  36.7300  36.7700   9134941
2019-07-22 00:00:00-04:00  36.92  37.690  36.8300  37.5800   7543365
2019-07-23 00:00:00-04:00  37.87  38.020  36.8200  37.8950   9099721
2019-07-24 00:00:00-04:00  38.00  38.800  37.7600  38.7400  10956259
2019-07-25 00:00:00-04:00  39.00  39.230  37.9100  38.1100  18468672
2019-07-26 00:00:00-04:00  40.07  42.330  40.0000  41.5300  48883208