# CRUD SQL Queries

## Create the database

In [ ]:
# Import the modules

In [ ]:
# Database connection string
database_connection_string =

In [ ]:
# Database engine
engine =

In [ ]:
# Get table names from the database

## SELECT Queries

In [ ]:
# SELECT all data from the customers table
sql_select =

In [ ]:
# Execute the sql select statement
results =

In [ ]:
# View results using a for-loop

In [ ]:
# Execute the sql select statement
results = 

# View results using a Pandas list

In [ ]:
# Execute the sql select statement
results = 

# Convert the results into a Pandas DataFrame
customers_df = 

# Review the DataFrame

### WHERE Modifier

In [ ]:
# SELECT all Michael's from the customer table
sql_select_michael =

In [ ]:
# Execute the sql select statement
results = engine.execute(sql_select_michael)

In [ ]:
# List the results of the query
list(results)

### Wildcard Characters

In [ ]:
# The underscore (_) only replaces a single character
sql_select_wild_card =

In [ ]:
# Execute the sql statement
results = engine.execute(sql_select_wild_card)

In [ ]:
# List the results of the query
list(results)

In [ ]:
# The percent (%) wild card allows for any number of characters
sql_select_wild_card2 =

In [ ]:
# Execute the sql select statement
results = engine.execute(sql_select_wild_card2)

In [ ]:
# List the results of the query
list(results)

### ORDER BY Modifier

In [ ]:
# Use the ORDER BY modifier to organize the data
sql_select_michael_ordered =

In [ ]:
# Execute the sql statement
results = engine.execute(sql_select_michael_ordered)

In [ ]:
# List the results of the query
list(results)

### LIMIT Modifier

In [ ]:
# Use the LIMIT modifier to control the number of data entries returned
sql_select_michael_ordered_limit = 

# Execute the sql statement
results = engine.execute(sql_select_michael_ordered_limit)

# List the results of the SQL query
list(results)

## INSERT Queries

In [ ]:
# INSERT query structure
#   INSERT INTO <table_name>
#   (<column_name>, ..., <column_name>)
#   VALUES
#   (<some_value>, ..., <some_value>)

In [ ]:
# INSERT data into the sql database
sql_insert =

In [ ]:
# Execute the sql insert statement
engine.execute(sql_insert)

In [ ]:
# Confirm that the data was inserted with a SELECT statement
sql_stmt = 

# Execute the sql statement
results = engine.execute(sql_stmt)

# List the results of the query
list(results)

## UPDATE Queries

In [ ]:
# UPDATE syntax
#   UPDATE <table_name>
#   SET <column_name> = <some_value>, ..., <column_name> = <some_value>
#   WHERE <some_condition>

In [ ]:
# UPDATE data in a database table
sql_update =

In [ ]:
# Execute the sql update statement
engine.execute(sql_update)

In [ ]:
# SELECT data in the table to review
sql_stmt = 

# Execute the sql statement
results = engine.execute(sql_stmt)

# List the results of the SQL query
list(results)

## DELETE Queries

In [ ]:
# DELETE syntax
#   DELETE FROM <table_name>
#   WHERE <some_condition>

In [ ]:
# DELETE data from the customers table
sql_delete = 

# Execute the sql delete statement
engine.execute(sql_delete)

In [ ]:
# SELECT data from the table to review the deletion
sql_stmt = 

# Execute the sql statement
results = engine.execute(sql_stmt)

# List the results of the query
list(results)